<h3 class="title hidden-xs">Custom Block</h3>
<a href="javascript:;" class="visible-xs" data-toggle="dropdown">
  <h3 class="title">Custom Block</h3>
</a>

<ul class="list-unstyled">

  <li>
    <a href="/pages/about-us">About Us</a>
  </li>

  <li>
    <a href="/pages/shipping-returns">Delivery Infomation</a>
  </li>

  <li>
    <a href="/pages/faq">Privacy Policy</a>
  </li>

  <li>
    <a href="/pages/contact-us">Contach Us</a>
  </li>

  <li>
    <a href="/pages/shipping-returns">Shipping &amp; Returns</a>
  </li>

  <li>
    <a href="/pages/typography">Typography</a>
  </li>

</ul>