{% if shop.products_count < 1 %}
  
  <div class="text-center">
      <h4 class="text-center">Welcome to your store!</h4>
      <p>It looks like you don't have any products yet, would you like to <a href="/admin/products/new">create some now</a>?</p>
  </div>

{% endif %}
