<div class="product-wishlist">
  <a data-handle-product="{{product.handle}}" href="{{wishlist_link}}" type="button" class="add-to-wishlist btn btn-default" title="{{ 'products.product.add_to_wishlist' | t }}"><span></span></a>
</div>