<a data-handle-product="{{product.handle}}" type="button" class="btn add-to-wishlist" title="{{ 'products.product.add_to_wishlist' | t }}"><span></span>{{ 'products.product.add_to_wishlist' | t }}</a>