<div id="col-main" class="page-404 text-center">

    <div class="box-404">
      <div class="vcenter-container">
        <div class="vcenter">
          <h3>Oops, This page cannot be found</h3>
          <img src="{{ '404.jpg' | asset_url }}" title="Oops! That page can't be found." alt="Not Found .404 page">
          <p>Sorry, the page you are looking for is not available.</p>
          <a href="/" class="btn btn-default">Back to homepage</a>
        </div>
      </div>
    </div>

</div>