<div class="row">
  <div id="col-main" class="col-sm-12">

    <h1 class="page-heading">{{ page.title }}</h1>
    <div class="page-content">
      {% include 'shortcode' load: page.content %}
    </div>

  </div>
</div>